---
layout: default
---

<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">{{ page.title }}</h1>
    <p>
      <small>
        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %d, %Y" }}
        </time>
        by <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <span itemprop="name">{{ site.author.name }}</span>
        </span>
      </small>
    </p>
    
    {% if page.image %}
      <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" itemprop="image" class="featured-image">
    {% endif %}
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.share %}
    <div class="share">
      <p>Share this post:</p>
      <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url }}">Twitter</a> |
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}">Facebook</a>
    </div>
  {% endif %}

  {% if site.disqus_shortname %}
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "{{ page.url | absolute_url }}";
        this.page.identifier = "{{ page.url }}";
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
  {% endif %}

</article>

